/updatebyid/node_modules/
/getby_id/node_modules/
/getby_id/.idea/
/updatebyid/.idea/
/get_all/.idea/
/get_all/node_modules/
/deletebyid/.idea/
/deletebyid/node_modules/
/CreateResident/.idea/
/CreateResident/node_modules/
